#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.cards {
  display: grid;
  column-gap: 30px;
  row-gap: 15px;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(8, 1fr);
}

@media (max-width: 1420px) {
  .cards {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 725px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 385px) {
  .cards {
    grid-template-columns: repeat(1, 1fr);
  }
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 0;
  gap: 20px;
}
